.inline {
	display:inline;
}

.inlineBlock {
	display:block;
}

.inline-block {
	display:inline-block;
}

.testBlock {
	width: 100px;
	height: 100px;
}

.yellow {
	background:yellow;
}

.red {
	background:red;
}

.green {
	background:green;
}

.blue {
	background:blue;
}