html, body {
	padding: 0;
	margin: 0;
}

body {
	display: flex;
}

.main-block {	
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}

.block1 {
	flex-grow: 1;
	display: flex;
	justify-content:center;
	background: url(images/hd_bg.png);
}

._block1{
	width:70%;
	display: flex;
	flex-direction: column;
}

.block11 {
	flex-grow: 1;
	display: flex;
	flex-direction: row;
}

.block111 {
	width: 50%;
	display: flex;
}

.block111 > a {
	font-family: Arial,Helvetica,sans-serif;
	font-size: 28px;
	text-decoration: none;
	color: black;
	align-self: center;
	font-weight: bold;
}

.block112 {
	width: 50%;
	display: flex;
	flex-direction: row;
}

.block1121 {
	flex-grow: 0.5;
	display: flex;
}

.block1121 > .block11211 {
	align-self: center;	
}

.block1121 > .block11211 > a {
	font-weight: bold;
	font-size: 26px;
}

.block1121 > .block11211 > p {
	font-size: 14px;
	color: grey;
	margin: 0;
}

.block1122 {
	flex-grow: 0.5;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.block11221 > a {
	text-decoration: none;
	font-size: 14px;
	color: black;
}

.block11221 {
	display: flex;
	flex-direction: column;
}

.block12 {
}

.block12 > ul {
	margin: 0; 
	padding: 0;
	list-style-type: none;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.block12 > ul > li {
	background: #4b97c8;
	flex-grow: 1;
	padding: 10px;
}

.block12 > ul > li > a{
	color: white;
	text-decoration: none;
}

.block2 {
	flex-grow: 1;
	display: flex;
	justify-content:center;
}

._block2{
	width:70%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

._block2 > img {
	width: 488px;
	height: 270px;
	margin: 0 20px;
}

.block22 {
	flex-grow: 1;
	flex-direction: column;
	justify-content: space-around;
}

.block22 > a{
	text-decoration: none;
	color: grey;
}

.block3 {
	flex-grow: 1;
	display: flex;
	justify-content:center;
	background: url(images/workarea_bg.png);
}

._block3 {
	width:70%;
	display: flex;
	flex-direction: column;
	align-content: space-around;
}

.block31, .block32 {
	margin: 20px 0px;
	background: white;
	border-radius: 5px;
}

.block31 {
	display: flex;
	flex-direction: column;
	padding: 10px;
}

.block311 {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border-bottom: 2px solid grey;
	padding-bottom: 5px;
	margin-bottom: 10px;
}

.block311 > a {
	text-decoration: none;
	font-size: 14px;
	align-self: center;
}

.block312 {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.block-news {
	flex-grow: 1;
	padding: 10px;
	margin: 5px 15px;
}

.block-news > a {
	text-decoration: none;
}

.block-news > p {
	margin: 0;
}

.block4 {
	flex-grow: 1;
	display: flex;
	justify-content:center;
}

._block4 {
	width:70%;
	display: flex;
	flex-direction: column;
}

.block5 {
	flex-grow: 1;
	display: flex;
	justify-content:center;
	background: url(images/ft_bg.png);
}

._block5 {
	width:70%;
	display: flex;
	flex-direction: column;
}

.byellow {
	border: 1px solid yellow;
}

.bred {
	border: 1px solid red;
}

.bgreen {
	border: 1px solid green;
}

.bblue {
	border: 1px solid blue;
}

.yellow {
	background:yellow;
}

.red {
	background:red;
}

.green {
	background:green;
}

.blue {
	background:blue;
}

